a:link, a:visited {
  background-color: mediumseagreen;
  color: white;
  border:2px solid black;
  padding: 30px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
}

#wrapper{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#container{
  display: flex;
}

header{
  height:80px;
  width:100%;
  background-color:#525252;
  border-style: none none solid none;
  border-width: 5px;
}

nav{
  height:285px;
  width:20%;
  background-color:#baa0b9;
  box-sizing: border-box;
  text-align: center;
  padding:100px 0px 100px 0px;
  border-style: solid none none solid;
  border-width: 5px;
}
main{
  height:150px;
  width:100%;
  background-color: #3221a3;
  text-align: center;


}

aside{
  height:285px;
  width:80%;
  background-color:gray;
  border-style: solid none none none;
  border-width: 5px;
  box-sizing: border-box;
  padding: 55px;
  text-align: center;
  word-spacing: 20px;


}

footer{
  height:80px;
  width:100%;
  background-color:#2e2e2e;
  font-family:monospace;
  font-size: 20px;
  text-align: center;
  border-style: solid none solid none;
  border-width: 5px;
}

body{
  margin:0px;
  padding:0px;

}

p{
  box-sizing: border-box;
  padding: 0px 25px 20px 30px;
  font-family:monospace;
  font-size: 16px;
}
